name: Build and push images
on:
  push:
    branches:
      - 'main'
#     paths:
#       - "*"
#       - "!README.md"
#       - "!build.rb"
  schedule:
    - cron: "0 0 * * 0-6"
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - base: ubuntu:latest
            tag: ubuntu-latest
          - base: ubuntu:3.9
            tag: ubuntu-3.9

    steps:
      -
        name: Checkout 
        uses: actions/checkout@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build_args: IMAGE=${{ matrix.base }}
          file: ./Dockerfile
          push: true
#           repository: ${{ secrets.DOCKER_HUB_USERNAME }}/python-pyodbc
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/python-pyodbc:${{ matrix.tag }}
